html, body, div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: .2s all ease-in-out;
}

body {
    background: #000;
}

canvasy {
    max-width: 100%;
    height: auto !important;
}

.newTree {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 7px 10px;
}

.newTree:disabled,
.newTree[disabled] {
    opacity: .4;
}

.drawing {
    opacity: .4;
}
