html, body, div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvasy {
    max-width: 100%;
    height: auto !important;
}

.newTree {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 7px 10px;
}
